.avatar {
    display: inline-flex;
    align-items: center;
    .avatar-body {
        background-color: $avatar-bg;
        border-radius: $avatar-border-radius;
        border: $avatar-border;
        width: $avatar-size-x;
        height: $avatar-size-y;
        font-size: $avatar-font-size;
        font-weight: $avatar-font-weight;
        vertical-align: middle;
        line-height: 1;
        box-sizing: content-box;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &.avatar-online,
        &.avatar-unavailable,
        &.avatar-offline,
        &.avatar-notification {
            .avatar-indicator {
                width: $avatar-status-size-x;
                height: $avatar-status-size-y;
                border: $avatar-border;
            }
        }
        &.avatar-online {
            .avatar-indicator {
                background-color: $avatar-online-bg;
                bottom: 0;
                right: 0;
            }
        }
        &.avatar-unavailable {
            .avatar-indicator {
                background-color: $avatar-unavailable-bg;
                bottom: 0;
                right: 0;
            }
        }
        &.avatar-offline {
            .avatar-indicator {
                background-color: $avatar-offline-bg;
                bottom: 0;
                right: 0;
            }
        }
        &.avatar-notification {
            .avatar-indicator {
                background-color: $avatar-notification-bg;
                top: 0;
                left: 0;
            }
        }
        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
    }
    &.avatar-2xs {
        .avatar-body {
            width: $avatar-2xs-size-x;
            height: $avatar-2xs-size-y;
            font-size: $avatar-font-size-2xs;
            &.avatar-online,
            &.avatar-unavailable,
            &.avatar-offline,
            &.avatar-notification {
                .avatar-indicator {
                    width: $avatar-status-2xs-size-x;
                    height: $avatar-status-2xs-size-y;
                }
            }
            &.avatar-online,
            &.avatar-unavailable,
            &.avatar-offline {
                .avatar-indicator {
                    bottom: -2px;
                    right: -2px;
                }
            }
            &.avatar-notification {
                .avatar-indicator {
                   top: -2px;
                   left: -2px;
                }
            }
        }
        .avatar-name {
            font-size: $avatar-name-font-size-2xs;
        }
    }
    &.avatar-xs {
        .avatar-body {
            width: $avatar-xs-size-x;
            height: $avatar-xs-size-y;
            font-size: $avatar-font-size-xs;
            &.avatar-online,
            &.avatar-unavailable,
            &.avatar-offline,
            &.avatar-notification {
                .avatar-indicator {
                    width: $avatar-status-xs-size-x;
                    height: $avatar-status-xs-size-y;
                }
            }
        }
    }
    &.avatar-sm {
        .avatar-body {
            width: $avatar-sm-size-x;
            height: $avatar-sm-size-y;
            font-size: $avatar-font-size-sm;
            &.avatar-online,
            &.avatar-unavailable,
            &.avatar-offline,
            &.avatar-notification {
                .avatar-indicator {
                    width: $avatar-status-sm-size-x;
                    height: $avatar-status-sm-size-y;
                }
            }
        }  
    }
    &.avatar-lg {
        .avatar-body {
            width: $avatar-lg-size-x;
            height: $avatar-lg-size-y;
            font-size: $avatar-font-size-lg;
            &.avatar-online,
            &.avatar-unavailable,
            &.avatar-offline,
            &.avatar-notification {
                .avatar-indicator {
                    width: $avatar-status-lg-size-x;
                    height: $avatar-status-lg-size-y;
                }
            }
        }
    }
    &.avatar-xl {
        .avatar-body {
            width: $avatar-xl-size-x;
            height: $avatar-xl-size-y;
            font-size: $avatar-font-size-xl;
            &.avatar-online,
            &.avatar-unavailable,
            &.avatar-offline,
            &.avatar-notification {
                .avatar-indicator {
                    width: $avatar-status-xl-size-x;
                    height: $avatar-status-xl-size-y;
                }
            }
        }
    }
    .avatar-name {
        font-size: $avatar-name-font-size-base;
        margin-left: $avatar-name-margin;
    }
    &.avatar-xs {
        .avatar-name {
            font-size: $avatar-name-font-size-xs;
        }
        .avatar-body {
            &.avatar-online,
            &.avatar-unavailable,
            &.avatar-offline {
                .avatar-indicator {
                    bottom: -1px;
                    right: -1px;
                }
            }
            &.avatar-notification {
                .avatar-indicator {
                    top: -1px;
                    left: -1px;
                }
            }
        }
    }
    &.avatar-sm {
        .avatar-name {
            font-size: $avatar-name-font-size-sm;
        } 
    }
    &.avatar-lg {
        .avatar-name {
            font-size: $avatar-name-font-size-lg;
        }
    }
    &.avatar-xl {
        .avatar-name {
            font-size: $avatar-name-font-size-xl;
        }
    }
}