.chat-head-container {
  overflow: auto;
  height: calc(100% - 60px);
  .chat-head {
      margin-bottom: 1px;
      @include transition();
      .chat-head-time-sent {
        opacity: 1;
        @include transition();
      }
      .chat-head-controls {
        opacity: 0;
        right: $spacer;
        @include transition();
      }
      &:hover {
          background-color: $chat-head-hover-bg;
          cursor: pointer;
          .chat-head-controls {
            opacity: 1;
          }
          .chat-head-time-sent {
            opacity: 0;
          }
      }
      &.active {
          background-color: $chat-head-active-bg;
      }
      > div {
          max-width: 85%;
      }
      
  }
}