.reply-box {
    background-color: $replybox-bg;
    .reply-box-container {
        display: flex;
        flex-direction: column;
        transition: height 0.5s ease-in-out;
        height: 154px;
        &.expanded {
            height: calc(100vh - 140px);
        }
    }
    .reply-box-body {
        flex: 1;
        textarea {
            appearance: none;
            resize: none;
            field-sizing: content;
            max-height: 200px;
            &:focus,
            &:focus-visible {
                border-color: transparent;
                box-shadow: none;
            }
        }
        &.reply-box-simple {
            .reply-box-controls {
                padding-right: $spacer;
            }
        }
    }
    .reply-box-footer {
        margin-top: auto;
    }
    &.note-mode {
        background-color: $replybox-note-bg;
        .reply-box-body {
            textarea {
                background-color: $replybox-note-bg;
            }
        }
        .btn {
            &-naked-primary {
                &:hover {
                    background-color: $replybox-footer-icon-hover-bg;
                    color: $replybox-footer-icon-hover-color;
                }
            }
        }
    }
}